.waitingAnimation {
  animation: blink 1s linear infinite alternate;
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.11;
  }
}

.replaceAnimation {
  animation: blink 1s linear 1 alternate;
}
@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* 定义动画 */
@keyframes lightSweep {
  0% {
    background-position-x: -100%;
    opacity: 1;
  }
  100% {
    background-position-x: 100%;
    opacity: 0;
  }
}

@keyframes backgroundFade {
  0%, 40% { background-color: rgba(initial, 1); } /* 初始状态，完全透明度 */
  41%, 50% { background-color: rgba(240, 240, 240, 0.5); } /* 渐变至半透明浅灰色 */
  50%, 60% { background-color: rgba(240, 240, 240, 1); } /* 完全变为不透明浅灰色 */
  71%, 100% { background-color: rgba(initial, 1); } /* 恢复到初始状态 */
}

.fadeOnce {
  animation: backgroundFade 1s linear infinite;/* 动画持续时间为1秒，使用ease-out缓出效果 */
}

