.scheduleSidebarContainer {
    width: 380px;
    display: flex;
    z-index: 3;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0px;
    padding: 10px 20px;
    height: calc(100% - 160px);
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 0px 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.2s ease 0s;
    user-select: none;
    overflow-y: scroll;
}
.scheduleSidebarContainerHide {
    left: -380px;
}
.scheduleSidebarContainer h1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 8px;
}
.sidebarController {
    position: absolute;
    font-size: 23px;
    color: #fff;
    background-image: url('../assets//icon-close.png');
    background-size: 100% 100%;
    font-weight: 700;
    cursor: pointer;
    left: 15px;
    top: 75px;
    height: 35px;
    width: 35px;
    transition: all 0.2s ease 0s;
    box-shadow: rgb(133, 177, 255) 2px 2px 6px;
    border-radius: 50%;
    z-index: 1;
}

.sidebarControllerHide {
    rotate: 225deg;
} 
