.react-datepicker__input-container {
  height: 100%;
  padding: 0.375rem 0.75rem;
  background-color: rgb(249 250 251);
  border-radius: 6px;
}

.react-datepicker__input-container input {
  background-color: rgb(249 250 251);
  outline-color: rgb(249 250 251);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.react-datepicker__header {
  background-color: #f7f7f7;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #1b65f3;
}